/* 
    Document   : html5.css
    Created on : Dec 19, 2011, 7:33:41 PM
*/


#jwords
{
    list-style-type: none;
}

#jwords a
{
    text-decoration: none;
    
}

#jwords li
{
    padding: 5px 0;
}
